.content .px-view .relative:first-child {
}

div[dusk="global-search-component"] {
    display: none;
}

button[dusk="create-button"] {
    display: none;
}

a[href="/nova/resources/headlines/new"] {
    display: none;
}
