.content .px-view .relative:first-child {
}

div[dusk="global-search-component"] {
    display: none;
}

button[dusk="next"] {
    color: black !important;
}

button[dusk="create-button"], button[dusk="update-button"] {
    display: none;
}

a[href="/nova/resources/headlines/new"] {
    display: none;
}
